/****************Partner css**************/
.partners-list{
  text-align: center;
  margin: auto;
  width: 50%;
}

.partner-info-div{
  float: left;
  font-weight: 300;
}

/****************Partner css end**************/